$main-color: #1a202c;
$alt-color: #1f2937;
$third-color:#2d3748;

$button-color: #4a5568;
$button-alt-color: #5b647a;

$submit-color: #3c82f6;

$gray-color: #9ba2ae;

$red-color: #a74c65;
$purple-color: #684eaf;
$green-color: #3c8489;
$yellow-color: #a58c4d;
$blue-color: #2f72a3;